    
<% include partials/header %>


	<!--start-header-->


	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<div class="banner-text">
					<h2>Welcome To</h2>
					<h1>Techkie Magazine</h1>
					<div class="banner-btn">
						<a href="/articles/new">Create A New Article</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="about">
		<div class="container">
				<div class="col-md-8 about-left">
					<div class="about-tre">
					           <% articles.forEach(function(article){ %>

						<div class="a-1">
							<div class="col-md-6 abt-left">
								<img src="<%= article.image %>" alt="" />
								<h6>Find The Most</h6>
								<h3><%= article.name %></h3>
								<p><%= article.descriptions %></p>
								<div class="about-btn">
									<a href="/articles/<%= article.id %>">Read More</a>
								</div>

								<label><%= article.dateN.toDateString() %></label>
							</div>
		
						</div>
	<% }) %> 
					</div>	
				</div>

		</div>
	</div>


<% include partials/footer %>  
