<% include partials/header %>


	<div class="about">
		<div class="container showContainer">
			<div class="about-main">
				<div class="col-md-8 about-left">
					<div class="about-one">
						<h3><%= article.name %></h3>
					</div>
					<div class="about-two">
						<img src="<%= article.image %>" alt="" />
						<p>Posted by <a href="#"><%= article.author.username %></a> On <%= article.dateN.toDateString() %></p>
						<p><%= article.descriptions %></p><br/>
						    <% if(currUser && article.author.id.equals(currUser._id)){ %>
						    						<div class="comentBrdr">

						    <p>Modify Your Post:</p>

						     <button class="editBtn"><a id="editcolor" href="/articles/<%= article._id %>/edit">Edit</a></button>

							<form class="delete-form" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
							    <button class="editBtn">Delete</button>
                            </form>
                             <% }%>
                        </div>
                             
                             
                <div class="well">
                    <a class="editBtn" style="float:right;" href="/articles/<%= article._id %>/comments/new">Add New Comments</a>
                <hr />
                <% article.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="media-heading"><%= comment.author.username %></h4>
                        <span class=" pull-right"><i class="glyphicon glyphicon-time"></i><%= comment.created.toDateString() %></span>
                        <p>
                         <%= comment.text %>
                        </p> 
                        <% if(currUser && comment.author.id.equals(currUser._id)){ %>
                        <a class="comEdit" href="/articles/<%=article._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/articles/<%=article._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="comEdit" value="Delete">
                        </form>
                        <% } %> <hr />

                    </div>
                    
                </div>
 
                <% }) %>
                
            </div>
                             
                             
                    </div>
             </div>
        	</div>	
	
		</div>

    </div>	



<% include partials/footer %>  

